body {
    background-color: #0d0e0f;
    color: white;
    font-family: "proxima nova";
}

.header {
    background-image: url(../assets/me.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;
    background-position-y: 100%;
    background-color: #b3b9c9;

    text-align: start;
    padding: 300px 100px 300px 15%;
}

.navbar {
    text-align: left;
    padding: 25px 0px 25px 100px;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    hr::after {        
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: white;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

a {
    text-decoration: none;
}

.button {
    color: white;
    font-weight: 100;
    font-size: 18px;
    
    border: solid 2px white;
    border-radius: 64px;

    padding: 5px 20px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

    .button:hover {
        background-color: white;
        color: black;
    }

.image {
    display: block;
    border: solid 2px white;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}